<div class="ui container">
	<div class="ui grid">
		<div class="five wide column">
			<div class="ui segment">
				<h3>My Conversations</h3>
				<div class="ui list">
					<%= render 'conversation' %>
				</div>
			</div>
		</div>
		<div class="eleven wide column">
			<div class="ui segment">
				<h2>Conversation</h2>
				<%#= render 'messages/message' %>
			</div>
		</div>
	</div>
</div>
