/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "semantic-ui";
@import "profiles";
@import "dropzone/dropzone";
//$font-url: "https://fonts.googleapis.com/css?family=Dosis";

#login-form {
  border-radius: 0;

}

#sport-submit {
  display: none;
}
#tiny-img {
  padding-right: 1.5em;
}

.right {
  float: right;
}

.init-search {
  width: 30%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 3em;
  margin-left: 4em;
  margin-top: 4em;
  float: left;
  h2 {
    color: white;
  }
  a {
    color: white;
  }
  .form {
    opacity: 1;
  }
}

#background {
  background-image: url('bg.png');
  //z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 80%;
  max-width: 100%;
}

.nav {
  margin-left: 50%;
  z-index: 99;
}

#profile-img {
  margin-right: 2em;
}

#name {
  padding-right: 2em;
  font-size: 1.5em;
}

#logout {
  padding-right: 2em;
  font-size: 1.5em;
  a {
    color: white;
  }
}

#logo {
  //background-image: url("logo.png");
  //background-size: 40%;
  font-size: 3em;
  font-weight: bolder;
  color: white;
  margin-top: 2%;
  margin-left: 1%;
}