

<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		Select Images to upload by clicking into the space
	</div>
	<div class="content">
		<%= form_tag user_profile_images_path(@user.profile), class: "dropzone", id: "media-dropzone" do %>
				<div class="fallback">
					<%= file_field_tag "media", multiple: true%>
				</div>
		<% end %>
	</div>
</div>

<div class="ui container">
	<% if @user == current_user %>
		<input type="button" id="btn-upload" class="ui teal button" value="Upload images">
	<% end %>
	<br>
	<br>
	<div class="ui stackable four column grid">
		<% @images.each do |image| %>
		<div class="column">
			<div class="ui card">
				<div class="content">
					<div class="right floated meta"><%= time_ago_in_words(image.created_at) %></div>
				</div>
				<div class="image">
					<%= image_tag image.image.url %>
				</div>
				<div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
					<i class="comment icon"></i>
					3 comments
				</div>
				<div class="extra content">
					<div class="ui large transparent left icon input">
						<i class="heart outline icon"></i>
						<input type="text" placeholder="Add Comment...">
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>



<script type="text/javascript" charset="utf-8">
    $(function() {
        var mediaDropzone;
        mediaDropzone = new Dropzone("#media-dropzone");
        return mediaDropzone.on("success", function(file, responseText) {
            var imageUrl;
            imageUrl = responseText.file_name.url;
        });
    });

    $('#btn-upload').on('click', function () {
        $('.ui.modal').modal('show')
        ;
    });

</script>